.title {
    
    width: min(calc(80% -2rem), 60rem);
    margin-inline: auto;
    margin-top: 70px;
    text-align: center;
}

.title h1 {
    font-size: 3rem;
    color: aliceblue;
    font-weight: 350;

}


.whyMe {
    margin-top: 70px;
    text-align: center;
}


.whyMe h1 {
    font-size: 3rem;
    font-weight: 350;
    color: aliceblue;
    
}




.dad {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}


.btn {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.btn button {
    border: 3px solid white;
    font-size: larger;
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 27px;
    padding-left: 27px;
    color: white;
    font-weight: 500;

}



.dad p {
    width: 200px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 350;
    color: aliceblue;
    
}



.card {
    margin-top: 30px;
}


.card:hover {
    
    transition: .2s ease-in;
    transform: translateY(-5px)
  
}




img {
    width: 250px;
    height: 200px;
}


/*
footer {
    margin-top: 50px;
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #333333;
}

*/

.why2 {

    width: min(calc(80% -2rem), 60rem);
    margin-inline: auto;
    margin-top: 70px;
    text-align: center;
}

.why2 h1{

    font-size: 3rem;
    font-weight: 350;
    color: aliceblue;
}

.why2 p {
    
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300;
}



.why3 {

    width: min(calc(80% -2rem), 60rem);
    margin-inline: auto;
    margin-top: 70px;
    text-align: center;
}

.why3 h1{

    font-size: 3rem;
    font-weight: 350;
    color: aliceblue;
}

.why3 p {
    
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300;
}

footer {
    margin-top: 70px;
}

p.copyright {
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 1em;
    text-align: center;
    bottom:0;
}

p {
    margin-top: 15px;
}


@media screen and (max-width: 765px) {
    .dad {
        display: block;
        justify-content: center;
    }

    img {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .title h1 {
        font-size: 1.6rem;
    }

    .whyMe h1 {
        font-size: 1.6rem;
    }
    .why2 h1{

        font-size: 1.6rem;
    }

    
    .why3 h1{

        font-size: 1.6rem;
    }

 
    
}

@media screen and (max-width: 380px) {

    p.copyright {
       
        font-size: 0.7em;
     
    }
}
